
.imagebrand{
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
}

#heading{
    font-size: x-large;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-top: 13px;
}